**/*.class
.vscode
.idea
.gradle
**/build
**/out
**/bin
**/target


# Modules JAR files
mods

# Ignore IntelliJ files
/.idea/
**/*.iws
**/*.ipr
**/*.iml
**/overlays/

# Ignore Eclipse project files
**/.settings
**/.project
**/.classpath